body {
    overflow: hidden;
}
#container
{
  height: 400px;
  position: relative;
  width: 400px;
  background-color: white;
}
#canvas
{
  height: 100%;
  width: 100%;
}
#nodes
{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.nodebox{
    width: 2in;
    height: 0.25in;
    position: absolute;
    border: 1px groove #cccccc;

}
.nodebox:hover{
    /*тени внешние*/
    box-shadow: 0px 3px 15px 5px #808080;
}

.nodetitle {
    float: left;
    width: 1.5in;
    height: 0.25in;
    //border: 1px groove rgb(244, 247, 250);
    border: 0px;
    padding: 0px;

    cursor: auto;
}

.text_cut{
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    background: cornsilk; /* Цвет фона */
    //padding: 0px 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.nodehandle_close_open {
    float: left;
    width: 0.25in;
    height: 0.25in;
    //padding: 0px 5px;
    padding: : 0px;
    /* border: 1px solid #999999; */
    border: 0px;
    text-align: center;

    color: red;
    background-color: #fcefa1;
    font-weight: bold;
}
.nodehandle_collapse_expand {
    float: left;
    width: 0.25in;
    height: 0.25in;
    /* padding: 0px 5px; */
    padding: 0px;
    /* border: 1px solid #999999; */
    border: 0px;

    text-align: center;
    color: red;
    background-color: #fcefa1;
    font-weight: bold;
}
.node_properties{
    width: 100%;
}
.node_property{
    width: 100%;
    height: 0.2in;
    //border : 1px solid black;
    margin: 1px 0px;
}
.node_property_name{
  float:left;
  width: 40%;
  height:100%;
}

.node_property_actor{
    width:5%;
    float:left;
    height: 100%;
    text-align: center;
    background-color: #cd0a0a;
    color: #fcefa1;
    font-weight: bold;
}

.node_property_value{
    float: left;
    width: 55%;
    height: 100%;

    padding-left: 0.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.ediatable{
    cursor: auto;
}
.ediatable :hover{
    cursor: text;
}

.inplaceeditorinput{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    padding:0px;
    border:0px;
    visibility: hidden;
}

.node_property_del_handler{
    visibility: hidden;
    width: 1em;
    height: 0.2in;
    margin-left: -1em;
    background-color: #cd0a0a;
    position: absolute;
    color: #ffffff;
    text-align: center;
}
.node_property:hover .node_property_del_handler {
    visibility: visible;
}
