body {
    overflow: hidden;
}
#container
{
  height: 400px;
  position: relative;
  width: 400px;
  background-color: white;
}
#canvas
{
  height: 100%;
  width: 100%;
}
#nodes
{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.nodebox{
    /* width: 3in; */
    /* height: 0.25in; */
    position: absolute;
    border: 1px groove #cccccc;
    color: blue;
    outline: none; /*убрана пунктирная или оранжевая рамка - фокус ввода, она его обозначает */
    cursor: pointer;
}
/*когда малый*/
.nodebox.node_small{
    /*width: 2in;*/
    /* height: 0.25in; */
}
/*.nodebox:hover{*/
.nodebox.nodeselected{
    /*тени внешние*/
    box-shadow: 0px 3px 15px 5px #808080;
    z-index:999;
}

.nodetitle {
    /*float: right;*/
    /*width: 100%;*/
    /*width: 3.5in;*/
    /* height: 0.25in;  эксперимент */
    //border: 1px groove rgb(244, 247, 250);
    border: 0px;
    padding-left: 0.3em;

    color: black;
    font-family: serif;
}
/*когда малый
.nodebox.node_small .nodetitle{
    width: 1.5in;
}
*/
/*когда малый при наведении
.nodebox.node_small:hover .nodetitle{
    width: 1.5in;
}*/
/*когда большой при нведении, уступаем место кнопочкам
.nodebox:hover .nodetitle{
    width: 3.5in;
}*/

.text_cut{
    /* Запрещаем перенос строк */
    /* white-space: nowrap; */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    //padding: 0px 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
}

.nodehandle_close_open {
    float: right;
    /* margin-top: -0.25in; */
    /* margin-right: 0.25in; */
    /* visibility : hidden; */

    width: 0.25in;
    height: 0.25in;
    //padding: 0px 5px;
    padding: : 0px;
    /* border: 1px solid #999999; */
    border: 0px;
    text-align: center;

    color: red;
    background-color: #fcefa1;
    font-weight: bold;
}
.nodehandle_collapse_expand {
    float: right;
    /*margin-top: -0.25in;*/
    /*margin-right: 0in;*/
    /* visibility : hidden; */

    width: 0.25in;
    height: 0.25in;
    /* padding: 0px 5px; */
    padding: 0px;
    /* border: 1px solid #999999; */
    border: 0px;

    text-align: center;
    color: red;
    background-color: #fcefa1;
    font-weight: bold;
}
/*режим малый, кнопочки, и при наведении
.nodebox.node_small:hover .nodehandle_close_open{
    visibility:visible;
    margin-top: -0in;
} */

/*режим большой показать кнопочки при наведении*/
/*
.nodebox:hover .nodehandle_close_open{
    visibility:visible;
    margin-top: -0in;
}
.nodebox:hover .nodehandle_collapse_expand{
    visibility:visible;
    margin-top: -0in;
}*/

.node_icon{
    float: left;
    height: 0.25in;
    background-color: rgb(31, 170, 248);;
    color: rgb(255, 255, 25);
    //padding: 0px 5px;
    padding: : 0px;
    /* border: 1px solid #999999; */
    border: 0px;
    text-align: center;

    font-weight: bold;
}


.propBounds{
    /*width:100%;*/
    /* margin-top:0.25in; */
    display: block;
    margin-left: -1px;
    /*border: 1px solid red;*/
}
/*когда узел малый */
.nodebox.node_small .propBounds{
    /*visibility: hidden;*/
    display:none;
}

.node_properties{
    width: 100%;
}
.node_property{
    width: 100%;
    /*height: 0.2in;*/
    //border : 1px solid black;
    background: rgb(243, 243, 205);  /* Цвет фона */
    margin: 1px 0px;

}
.node_property_name{
  float:left;
  /*width: 40%;*/
  max-width: 50%; /*при уменьшении ширины, уменьшит свой размер и значению останется хотябы половина*/
  height:100%;

}

.node_property_actor{
    width:1em;;
    float:left;
    height: 100%;
    text-align: center;
    background-color: #cd0a0a;
    color: #fcefa1;
    font-weight: bold;
    cursor: pointer;
}

.node_property_value{
    /*float: left;*/
    /*width: 55%;*/
    height: 100%;

    padding-left: 0.5em;
    /*
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    */
}

.node_property_value *{
    margin:0.1em;
}

.ediatable{
    /*cursor: auto;*/
}
.ediatable :hover{
    cursor: text;
}

.inplaceeditorinput{
    z-index: 1000;
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    padding:0px;
    border:0px;
    /*visibility: hidden;*/
    display:none;
    resize: both /*horizontal*/;
}

.node_property_del_handler{
    visibility: hidden;
    width: 1em;
    height: 0.2in;
    margin-left: -1em;
    background-color: #cd0a0a;
    position: absolute;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
.node_property:hover .node_property_del_handler {
    visibility: visible;
}

#propertyeditor{ /*редактор свойств, по стрелочке (который под свойством всплывает)*/
    position: absolute;
    top: 0px;
    left: 0px;
    width: 3in;
    height: 2in;
    /*background-color: rgb(250, 235, 215);*/
    z-index: 1000;
}

#bottomPanel{
    position:fixed;
    height: 0.25in;
    width: 100%;
    bottom: 0px;
    background-color: rgb(250, 235, 215);
}

#topPanel{
    position:fixed;
    z-index : 998;
    height: 0.25in;
    width: 100%;
    top: 0px;
    background-color: rgb(250, 235, 215);
    valign: center;
}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
/*todo не используется пока - нужно слямзть в этот стиль из разных мест там сечас сборная солянка*/
.MindMapList{
    list-style: none;
    padding: 2px;
    margin: 0px;

    border: 1px solid rgb(0, 0, 0);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(255, 255, 255);

    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}

#workarea, #workarea:active, #workarea:focus{
    outline:none;
    position:relative;
    height:100%;
}


#searchresultcontatiner{
    width:4in;
    height:0.25in;
    position: absolute;
    left: 0px;
    bottom:0px;
    background-color:antiquewhite;
    opacity:0.9;
}
#searchresults{
    margin: 0px;
    padding: 1em;
}
.searchitem{
    margin:2px;
}
.searchitem:hover{
    border: 1px solid orange;
    margin: 1px;
    cursor:pointer;
}
/*редактор тегов*/
.tags{
    overflow-wrap: break-word;
}
.tag a{
    margin-left: 0.5em;
    cursor: pointer;
    color: red;
    margin-right: 0.1em;
    /*float:right;*/
}
.tag{
    border: 1px solid rgb(21, 165, 233);
    margin-left: 0.2em;
    border-radius: 0.5em;
    /*padding-right: 1em;*/
    display: inline-block;
    /*чтобы выглядело симпатичнее*/
    font-size: 0.85em;
    background-color: rgb(233, 233, 149);
}
.tag span{
    display:inline-block;
}

#chatcontainer {
    width:6in;
    height:0.25in;
    position: absolute;
    left: 4.2in;
    bottom:0px;
    background-color:antiquewhite;
    opacity:0.9;
}
#generalchat{
    height: 5in;
}